* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Commissioner', sans-serif;

    --moderate-cyan: hsl(176, 50%, 47%);
    --dark-cyan: hsl(176, 72%, 28%);
    
    --black: hsl(0, 0%, 0%);
    --dark-gray: hsl(0, 0%, 48%);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
}

p {
    font-weight: 400;
    color: var(--dark-gray);
}

h3 {
    font-weight: 700;
    margin-bottom: 2.1875rem;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 25rem;
}

ul {
    margin: 3.125rem 10rem;
}

header {
    background-image: url(../images/image-hero-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

main {
    position: absolute;
    top: 30%;
    max-width: 750px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    cursor: pointer;
}

section {
    background: white;
    border-radius: 0.5rem;
    max-width: 730px;
    width: 100%;
}

article {
    padding: 2.8125rem 2.1875rem;
    border: solid 1px lightgray;
    border-radius: 0.625rem;
}

input[type="number"] {
    border-radius: 5rem;
    border: none;
    height: 2.1875rem;
    width: 3.125rem;
}

input[type="number"]:focus {
    outline: none;
}

label {
    font-weight: 700;
    margin-left: 0.9375rem;
}

.webSiteName {
    font-weight: 700;
    margin: 3.125rem;
    color: #fff;
}

.navAnchor {
    text-decoration: none;
    color: #fff;
    margin-left: 1.5625rem;
}

.logo {
    position: relative;
    transform: translate(-0%, 50%);
}

.firstSection {
    text-align: center;
    padding: 3.75rem 2.5rem 3.125rem 2.5rem;
}

.firstSection > p {
    color: var(--dark-gray);
    margin: 1.5625rem 0rem 2.5rem 0rem;
}

.firstSection-btn {
    display: flex;
    justify-content: space-between;
}

.leftBtn {
    height: 3.4375rem;
    width: 12.5rem;
    background-color: var(--dark-cyan);
    color: white;
    border-radius: 5rem;
    border: none;
    font-weight: 700;
}

.bookmarkSpan {
    margin-left: 4.375rem;
    font-weight: 700;
    color: var(--dark-gray);
}

.rightBtn {
    display: flex;
    align-items: center;
    border-radius: 5rem;
    border: none;
    background-color: lightgray;
    width: 11.5625rem;
    height: 3.4375rem;
}

.svg {
    position: absolute;
}

.rightBtnMarked > .svg > g > circle {
    fill: var(--dark-cyan);
}

.rightBtnMarked > .svg > g > path {
    fill: white;
}

.rightBtnMarked {
    background-color: var(--moderate-cyan);
    display: flex;
    align-items: center;
    border-radius: 5rem;
    border: none;
    width: 11.5625rem;
    height: 3.4375rem;
    transition: 1s ease-out;
}

.secondSection {
    margin: 1.875rem 0rem;
    padding: 3.75rem 2.5rem 3.125rem 2.5rem;
}

.projectNumbers {
    display: flex;
    flex-direction: row;
    margin-bottom: 2.5rem;
}

.projectNumberP {
    margin-top: 0.9375rem;
    text-align: initial;
}

.projectNumberH2 {
    font-size: 2.8125rem;
}

.numberSpan {
    font-weight: 700;
    font-size: 3.4375rem;
    color: var(--black);
}

.projectNumber-first {
    padding-right: 2.5rem;
    border-right: 1px solid lightgray;
}

.projectNumber-middle {
    width: 14.0625rem;
    border-right: 1px solid lightgray;
    margin-left: 2.5rem;
}

.projectNumber-last {
    width: 17.1875rem;
    margin-left: 2.5rem;
}

.progressBar {
    background-color: lightgray;
    width: 39.375rem;
    height: 0.9375rem;
    border-radius: 1.25rem;
}

.progress {
    height: 100%;
    width: 31.25rem;
    border-radius: 1.25rem;
    background: var(--moderate-cyan);
    transition: 1s ease;
}

.lastSection {
    padding: 2.8125rem 3.125rem;
}

.lastSection > p {
    margin-bottom: 2.5rem;
}

.modalExtraArticle {
    margin-bottom: 1.875rem;
}

.articleBtn {
    height: 3.4375rem;
    width: 12.5rem;
    background-color: var(--moderate-cyan);
    color: white;
    border-radius: 5rem;
    border: none;
    font-weight: 700;
}

.articleAnchor {
    font-weight: 700;
    color: var(--moderate-cyan);
    text-decoration: none;
}

.articleHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.articleFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2.1875rem;
}

.lastArticle {
    opacity: 0.4;
}

.lastArticleAnchor {
    cursor: not-allowed;
}

.lastArticleBtn {
    background-color: lightgray;
    cursor: not-allowed;
}

.secondArticle {
    margin: 1.875rem 0;
}


.modal-container {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100vh;
    width: 100vw;
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
}

.modal {
    display: none;
    background-color: white;
    width: 46.875rem;
    border-radius: 0.625rem;
    padding: 1.25rem 3.125rem 2.5rem 3.125rem;
}

.modalHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modalHeader > img {
    height: 0.9375rem;
    cursor: pointer;
}

.modalP {
    font-size: 0.9375rem;
    margin-top: 0.625rem;
}

.modalArticle {
    margin-top: 0.9375rem;
    padding: 0.9375rem 1.5625rem;
}

.modalArticle4 {
    cursor: not-allowed;
    opacity: 0.5;
}

.modalArticleHeader {
    display: flex;
    justify-content: space-between;
}

.modalArticleHeader2 {
    display: flex;
}

.modalNumberSpan {
    color: var(--black);
    font-weight: 700;
    font-size: 1.25rem;
}

.modalArticleAnchor {
    font-weight: 700;
    color: var(--moderate-cyan);
    text-decoration: none;
    margin-left: 1.5625rem;
}

.modalArticleFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.9375rem;
}

.inputBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.inputBtn > button {
    height: 2.5rem;
    width: 6.875rem;
    background-color: var(--moderate-cyan);
    color: white;
    border-radius: 5rem;
    border: none;
    font-weight: 700;
}

.pledgeInput {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.25rem;
    height: 2.5rem;
    width: 6.875rem;
    border-radius: 5rem;
    border: 1px solid lightgray;
    padding: 0.625rem;
}

.pledgeInputP {
    margin: 0 5px 0 1px;
}

.inputError {
    border: 1px solid red;
}

.inputRadio {
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 50%;
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputRadioCheckedSeleted1, .inputRadioCheckedSeleted2, .inputRadioCheckedSeleted3 {
    height: 0.625rem;
    width: 0.625rem;
    border-radius: 50%;
    background-color: var(--dark-cyan);
}

.modalArticleFooterClose1, .modalArticleFooterClose2, .modalArticleFooterClose3 {
    display: none;
}

.modalArticleSelected {
    border: 3px solid var(--moderate-cyan);
}

.modalThanks-container {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100vh;
    width: 100vw;
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
}

.modalThanks {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    max-width: 530px;
    height: 100%;
    max-height: 450px;
    border-radius: 0.625rem;
    padding: 1.25rem 3.125rem 2.5rem 3.125rem;
}

.modalThanks > p {
    margin: 3.5rem 0rem;
    text-align: center;
}

.icon-check {
    height: 5.625rem;
    width: 5.625rem;
    margin-bottom: 3.125rem;
}

@media (max-width: 375px) {
    html {
        font-size: 80%;
    }

    .navUl {
        display: none;
    }

    .bookmarkSpan {
        display: none;
    }

    .rightBtn {
        position: absolute;
        right: -5rem;
        background: none;
    }

    .leftBtn {
        width: 15rem;
    }

    .secondSection {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .projectNumbers {
        display: flex;
        flex-direction: column;
    }

    .projectNumber {
        margin: 0;
        padding: 0;
        width: 8.4375rem;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .projectNumberH2 {
        font-size: 2rem;
    }

    .projectNumber-first {
        border-right: none;
        border-bottom: 1px solid lightgray;
        margin-bottom: 1.9375rem;

    }

    .projectNumber-middle {
        border-right: none;
        border-bottom: 1px solid lightgray;
        margin-bottom: 1.9375rem;
    }

    .projectNumber > p {
        margin: 1.25rem 0 1.9375rem 0;
        text-align: center;
    }

    .progressBar {
        width: 17.1875rem;
    }

    .articleFooter {
        display: flex;
        flex-direction: column;
    }

    .numberSpan {
        font-size: 3rem;
    }

    .articleBtn {
        margin-top: 1rem;
    }

    .hamburger-container {
        height: 2rem;
        width: 2rem;
        background-image: url(../images/icon-hamburger.svg);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        right: 2rem;
        top: 3.5em;
    }

    .navModal-container {
        display: none;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.4);
        height: 150vh;
        width: 100vw;
    }
    
    .navModal {
        position: relative;
        top: -25%;
        background-color: white;
        height: 20.75rem;
        width: 90vw;
        margin: 0rem auto;
        border-radius: 0.625rem;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
    
    .navModalAnchor {
        display: inline;
        color: var(--black);
        font-weight: 500;
        text-decoration: none;
        font-size: 2rem;
        border-bottom: 1px solid lightgray;
        width: 100%;
        padding: 2rem;
    }

    .navModalAnchorLast {
        display: inline;
        color: var(--black);
        font-weight: 500;
        text-decoration: none;
        font-size: 2rem;
        width: 100%;
        padding: 1.5rem;
    }

    .closeNavModal {
        height: 1.5rem;
        width: 1.5rem;
        margin-right: 3rem;
    }

    .navModalH2 {
        font-size: 2rem;
        font-weight: 700;
        margin: 3.125rem;
        color: #fff;
    }

    .navModalHeader {
        position: relative;
        top: -25%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}